# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# AWS credentials (just in case)
.aws/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Docker
*.tar
